/* Question section */

body{
    margin:0;
    text-align: left;
    font-size: 1.5rem;
    background-color: #DAE1E7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 a{
    font-size: 1.5rem
 }


 .question-picture{
    width: 100%;
 }

.navbar{
    background-color: #27496D;
    colour: #fff;
    padding-bottom: 1rem;
    margin-bottom: 3.5rem;
}

form{}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar-brand{
    padding: 0px 18px;
}

.container-fluid{

}

/* Answer section */


.card{
    margin: 1rem;
    border-radius: 25px;
}

.card-text{
    font-size: 1.25rem;
}

.card-title{
    font-size: 1.75rem;
}

/* © */

.copyright{
    text-align: center;
    background-color: white;
    margin-top: auto;
    height: 50px;
}

.pdf{
    background-color: white;

}
