{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}
    <section class="question-section" id="question">



        <div class="container-fluid">


            <div class="row">
                <div class="col-lg-8">
                    <img class="question-picture pdf" src="{{ 'static/questions/' ~ question.question_id ~ '.pdf' }}"> <br><br><br>
                </div>
                <div class="col-lg-4">
                    {{ wtf.quick_form(form, novalidate=False, button_map={"submit": "primary"}) }}
                    <br>
                    {% if request.method == "POST" and question.question_id[-1]|int < 40%}
                        {% set next_question_id = question.question_id[:-1] ~ (question.question_id[-1]|int + 1) %}
                        <a class="btn btn-primary" name="next" href="{{url_for('mcq', question_id=next_question_id) }}">Next question</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="answer-section" id="answer">
        {% if request.method == "POST"%}
            {%  if question.answer == user_answer: %}
                <div class="card text-center text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">You Got it Right!</h5>
                         <p class="card-text">The answer was indeed {{question.answer}}. Well done you!</p>
                    </div>
                </div>
            {% else: %}
                <div class="card text-center text-white bg-danger mb-3">
                    <div class="card-body">
                         <h5 class="card-title">You got the answer wrong!</h5>
                         <p class="card-text">The answer was infact {{question.answer}}, not your answer of {{ user_answer }}. Better luck next time...</p>
                    </div>
                </div>
            {% endif %}
            <div class="card text-center border-info mb-3">
                <div class="card-header bg-transparent border-info">Having trouble?</div>
                <div class="card-body">
                    <h5 class="card-title">You may want to revise the following chapter(s)</h5>
                    <p class="card-text"> {{ question.chapter }}</p>
                 </div>
            </div>
        {% endif %}
    </section>

    {{super()}}
{% endblock %}